* {
    padding: 0;
    margin: 0;
    font-family: 'Kantumruy Pro', sans-serif;
}

.header {
    width: 100%;
    height: 400px;
    margin: auto;
    background: rgba(0, 0, 0, 0.137) url(images/donation6.jpg) no-repeat top left / cover;
    background-blend-mode: darken;
    align-items: center;
    text-align: center;
}

#h-heading {
    padding-top: 15px;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-shadow: rgb(8, 8, 8) 8px 0 10px;
    font-family: 'Archivo Black', sans-serif;
}

.h-edit {
    margin-bottom: 15px;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
}

.header p {
    color: white;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: rgb(248, 248, 248) 8px 0 10px;
    font-size: 18px;
}

.head-button {
    text-decoration: none;
    padding: 8px 20px;
    background-color: rgb(230, 69, 69);
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}


/****************************************/
/*************DonateSection**************/
/****************************************/

.donateToday {
    margin: 80px auto 0 auto;
    width: 70%;
    text-align: center;
}

.hOne {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#para {
    margin-top: 25px;
}

#amount {
    margin: 50px 0 50px 0;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: rgb(83, 82, 82);
}

#amount p {
    padding: 25px 15px;
}

#tkSty {
    color: rgb(228, 96, 96);
    background-color: rgba(218, 63, 63, 0.151);
    border: 2px solid rgb(228, 96, 96);
    border-radius: 5px;
}

#amount :hover {
    color: rgb(228, 96, 96);
    background-color: rgba(218, 63, 63, 0.151);
    border: 2px solid rgb(228, 96, 96);
    border-radius: 5px;
    cursor: pointer;
}

#otheramount {
    margin-bottom: 10px;
}

hr {
    margin-bottom: 30px;
}



/****************************************/
/*************DonatePlanSection**************/
/****************************************/

.plan {
    margin: 80px auto 0 auto;
    width: 70%;
    text-align: center;
}

.plan p {
    padding: 25px 15px;
}

#planCard{
    margin: 50px 0 50px 0;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: rgb(83, 82, 82);
}


/***********planCard***************/
.planCard{
    display: flex;
    width: 85%;
    margin: 50px auto 0 auto;
    justify-content: space-evenly;
}

.card-1{
    width: 30%;
    padding: 40px 10px 25px 20px;
    margin: 5px;
    background-color: rgba(134, 195, 230, 0.274);
}
.card-2{
    width: 30%;
    padding: 40px 10px 25px 20px;
    margin: 5px;
    background-color: rgba(230, 134, 134, 0.274);
}
.card-3{
    width: 30%;
    padding: 40px 10px 25px 20px;
    margin: 5px;
    background-color: rgba(161, 230, 134, 0.274);
}
.card-h{
    padding-top: 20px;
}
.card-p{
    padding-top: 20px;
}