* {
    padding: 0;
    margin: 0;
    font-family: 'Kantumruy Pro', sans-serif;
}

.para {
    margin-top: 25px;
}

.jus-p {
    text-align: justify;
}


/****************************************************/
#header {
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.048) url(images/donation6.jpg) no-repeat top left / cover;
    background-blend-mode: darken;
    text-align: center;
}

#h-heading {
    padding-top: 15px;
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-shadow: rgb(8, 8, 8) 8px 0 10px;
    font-family: 'Archivo Black', sans-serif;
}

#buyHappyness {
    margin: 0 auto 90px auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: rgb(7, 7, 7) 5px 0 5px;
}

#h-edit {
    margin-bottom: 15px;
    padding: 10px 0;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
}

#headerP {
    color: white;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: rgb(248, 248, 248) 8px 0 10px;
    font-size: 18px;
}

.head-button {
    text-decoration: none;
    padding: 8px 20px;
    background-color: rgb(248, 54, 54);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}


/****************************************/
/*************DonateSection**************/
/****************************************/

#donateToday {
    margin: 80px auto 0 auto;
    width: 70%;
    text-align: center;
}

.hOne {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#amount {
    margin: 50px 0;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: rgb(83, 82, 82);
}

#amount p {
    padding: 25px 15px;
}

#tkStyle {
    color: rgb(228, 96, 96);
    background-color: rgba(218, 63, 63, 0.151);
    border: 2px solid rgb(228, 96, 96);
    border-radius: 5px;
}

#amount :hover {
    color: rgb(228, 96, 96);
    background-color: rgba(218, 63, 63, 0.151);
    border: 2px solid rgb(228, 96, 96);
    border-radius: 5px;
    cursor: pointer;
}

#donateToday input {
    margin-bottom: 10px;
    text-align: center;
    border: none;
    outline: none;

}

hr {
    margin-bottom: 30px;
    width: 90%;
    margin: 0 auto 30px auto;
}



/****************************************/
/*************DonatePlanSection**************/
/****************************************/

#plan {
    margin: 80px auto 0 auto;
    width: 85%;
    text-align: center;
}

/***********planCard***************/
#planCard {
    display: flex;
    width: 85%;
    margin: 30px auto 0 auto;
    justify-content: space-evenly;
}

#card-1 {
    width: 30%;
    padding: 40px 25px 25px 25px;
    margin: 8px;
    background-color: rgba(134, 195, 230, 0.274);
}

#card-2 {
    width: 30%;
    padding: 40px 25px 25px 25px;
    margin: 8px;
    background-color: rgba(230, 134, 134, 0.274);
}

#card-3 {
    width: 30%;
    padding: 40px 25px 25px 25px;
    margin: 8px;
    background-color: rgba(161, 230, 134, 0.274);
}

.card-h {
    padding-top: 20px;
}

.card-p {
    padding-top: 15px;
}

#planCard img {
    display: flex;
    margin: auto;
    padding: auto;
}


/****************************************/
/*************HelpingSection**************/
/****************************************/

#helping-photo {
    display: flex;
    width: 85%;
    margin: 80px auto 0 auto;
}

#helping-photo div {
    width: 50%;
}

#helping-photo h1 {
    margin-top: 50px;
    font-size: 32px;
    margin-right: 5%;
    font-family: 'Archivo Black', sans-serif;
}

#helping-photo p {
    padding: 30px 10px 40px 0;
    margin-right: 5%;
}

#helping-photo img {
    width: 80%;
    border-radius: 10px;
    margin-left: 5%;
    /* float: right; */
}

/***********************************/

#helping-photo-2 {
    display: flex;
    width: 85%;
    margin: 100px auto 0 auto;
    justify-content: space-evenly;
}

#helping-photo-2 div {
    width: 50%;
}

#helping-photo-2 img {
    width: 80%;
    border-radius: 10px;
    margin-right: 5%;
}


#helping-photo-2 h1 {
    margin-top: 50px;
    font-size: 32px;
    margin-left: 5%;
    font-family: 'Archivo Black', sans-serif;
}

#helping-photo-2 p {
    padding: 30px 10px 40px 0;
    margin-left: 5%;
}

#helping-photo-2 a {
    margin-left: 5%;
}

/****************************************/
/**************Galary-section*************/
/****************************************/
#Gallary {
    margin: 100px auto 0 auto;
    width: 100%;
    text-align: center;
}
#Gallary-h1{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px auto;
    padding: 10px 0;
    background-color: rgba(0, 255, 255, 0.274);
}

#gal-img {
    width: 85%;
    margin: 40px auto;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    color: rgb(83, 82, 82);
}

#gal-img img {
    width: 95%;
}


/****************************************/
/**************About-section*************/
/****************************************/
#about {
    margin: 100px 0 10px 0;
    padding: 30px 7.5% 30px 7.5%;
    text-align: center;
    background-image: linear-gradient(rgba(252, 101, 13, 0.205), rgba(0, 255, 234, 0.219));
}
#about p {
    font-weight: bolder;
    color: rgb(87, 86, 84);
}

/****************************************/
/**************UpdateSection*************/
/****************************************/

#update {
    margin: 70px auto 0 auto;
    width: 70%;
    text-align: center;
}

#update h1 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px auto;
}


/*****************************************/

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.377);
    height: 150px;
    width: 70%;
    margin: 50px auto 80px auto;
}

#form-box input {
    margin-right: -8px;
    padding: 10px 0 10px 10px;
    width: 250px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    outline: none;
    background-color: rgba(253, 198, 215, 0.438);
}

#form-box button {
    padding: 10px 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    color: white;
    background-color: rgb(248, 54, 54);
    cursor: pointer;
}

#form-box button:hover {
    background-color: red;
}


/****************************************/
/**************Footer*************/
/****************************************/

footer {
    height: 125px;
    width: 100%;
    text-align: center;
    background-color: rgb(13, 13, 24);
}

footer h1 {
    padding: 30px 0 10px 0;
    font-family: 'Lobster', cursive;
    color: rgb(255, 124, 49);
}

footer p {
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(182, 181, 181);
}