*{
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    /* height: 50vh; */
    height: 400px;
    align-items: center;
    text-align: center;
    background: url(images/donation6.jpg) no-repeat top left / cover;
}
